---
import "../styles/style.css";
---
<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="CA A-kasse, den bedste a-kasse med det højeste serviceniveau" />
		<meta name="viewport" content="width=device-width" />
		<title>CA A-Kasse</title>
	</head>
	<body>
		<main>
			<header>
				<div class="container">
					<div class="top-navbar-container">
						<div class="burger-menu-icon">☰</div>
						<nav class="servicemenu-links">
							<ul class="servicemenu">
								<li><a class="servicemenu-link" href="">Kontakt</a></li>
								<li><a class="servicemenu-link" href="">English</a></li>
								<li><a class="servicemenu-link" href="">Søg</a></li>
								<li class="btn-cta-dark-blue"><a href="">Log ind på mit CA</a></li>
								<li class="btn-cta-dark-green"><a href="">Bliv medlem</a></li>
							</ul>
						</nav>
					</div>
					<div class="bottom-navbar-container">
						<div class="bottom-navbar-img-container">
							<img class="navbar-img" src="../img/ca_regular.webp" alt="CA Logo med slogan">
						</div>
						<nav class="mainmenu-links">
							<ul class="mainmenu">
								<li><a href="">Din Situation</a></li>
								<li><a href="">Jobsøgning</a></li>
								<li><a href="">Medlemskab</a></li>
								<li><a href="">Medlemsfordele</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<section class="hero-section">
				<div class="hero-container grid-1-1 no-gap">
					<div class="hero-statement-container">
						<h1>Den bedste a-kasse med det højeste service niveau</h1>
						<div class="hero-slogan-trustpilot-container grid-1-1">
							<div class="hero-slogan">
								<h2>Hos CA får du udvikling og tryghed - og den bedste medlemsservice i branchen</h2>
							</div>
							<div class="hero-trustpilot">
								<img class="img" src="../img/trustpilot.webp" alt="CA A-kasses trustpilot score på 4.9">
							</div>
						</div>
						<div class="hero-statement-buttons grid-1-1">
							<div class="meld-ind-button hero-btn">
								<a href="">Meld dig ind</a>
							</div>
							<div class="fordele-button hero-btn white">
								<a href="">Mine fordele</a>
							</div>
						</div>
					</div>
					<div class="hero-image-container">
						<img class="img" src="../img/hero_image.webp" alt="Unge mennesker der hygger">
					</div>
				</div>
			</section>
			<section class="you-are-section">
				<div class="you-are-container grid-1-1-1">
					<div class="you-are-div">
						<div>
							<p>Du er</p>
						</div>
						<div><a href="">studerende</a></div>
					</div>
					<div class="you-are-div">
						<div>
							<p>Du er</p>
						</div>
						<div><a href="">nyuddannet</a></div>
					</div>
					<div class="you-are-div">
						<div>
							<p>Du er</p>
						</div>
						<div><a href="">ledig</a></div>
					</div>
					<div class="you-are-div">
						<div>
							<p>Du søger viden om</p>
						</div>
						<div><a href="">efterløn</a></div>
					</div>
					<div class="you-are-div">
						<div>
							<p>Du er</p>
						</div>
						<div><a href="">selvstændig</a></div>
					</div>
				</div>
			</section>
			<section class="extra-section">
				<div class="extra-containe grid-1-1-1">
					<div class="extra-block">
						<div class="extra-img">
							<img class="img" src="../img/fordele_udd_img.webp" alt="ung kvinde siddende i lædersofa med bøger og kop i hånden">
						</div>
						<div class="under-block one">
							<a href="">Fordele under uddannelse</a>
						</div>
					</div>
					<div class="extra-block">
						<div class="extra-img">
							<img class="img" src="../img/lontjek_img.webp" alt="to kvinder der high-fiver og en mand der smiler">
						</div>
						<div class="under-block two">
							<a href="">Løntjek</a>
						</div>
					</div>
					<div class="extra-block">
						<div class="extra-img">
							<img class="img" src="../img/forsikring_img.webp" alt="En far og hans barn der holder ham i hånden mens de går">
						</div>
						<div class="under-block three">
							<a href="">Forsikring</a>
						</div>
					</div>
				</div>
			</section>
			<footer>
				<div class="footer-container">
					<div class="footer-links grid-1-1-1-1">
						<div class="column">
							<ul class="row-1-1-1-1">
								<li><a href="">Om CA</a></li>
								<li><a href="">Kontakt</a></li>
								<li><a href="">Find Os</a></li>
								<li><a href="">Nyheder</a></li>
							</ul>
						</div>
						<div class="column">
							<ul class="row-1-1-1-1">
								<li><a href="">Studiepartner</a></li>
								<li><a href="">Instant Feedback</a></li>
								<li><a href="">Løntjek</a></li>
								<li><a href="">For virksomheder</a></li>
							</ul>
						</div>
						<div class="column">
							<ul class="row-1-1-1-1">
								<li><a href="">Persondatapolitik</a></li>
								<li><a href="">Cookiepolitik</a></li>
								<li><a href="">Tilgængelighedserklæring</a></li>
							</ul>
						</div>
						<div class="column">
							<h2>Sammen om din udvikling og tryghed</h2>
						</div>
					</div>
					<div class="bottom-footer">
						<div class="footer-logo">
							<img class="img" src="../img/ca_logo.webp" alt="Mørkeblåt CA logo">
						</div>
						<div class="footer-some">
							<img src="../img/facebook_logo.webp" alt="Facebook logo - et hvidt f med sort baggrund">
							<img src="../img/instagram_logo.webp" alt="Instagram logo - et hvidt kamera med sort baggrund">
							<img src="../img/tiktok_logo.webp" alt="TikTok logo - et hvidt t med sort baggrund">
						</div>
					</div>
				</div>
			</footer>
		</main>
	</body>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
    const burgerIcon = document.querySelector('.burger-menu-icon');
    const serviceMenu = document.querySelector('.servicemenu');
    const mainMenu = document.querySelector('.mainmenu');

    burgerIcon.addEventListener('click', function () {
        serviceMenu.classList.toggle('active');
        mainMenu.classList.toggle('active');
    });
});
	</script>
</html>